<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
=======
  <title>SampleApp</title>
>>>>>>> 70f0c77d6c0268a58dc54c78cad68e556b185300
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
